RABBITMQ_HOST=(THE IP)
RABBITMQ_PORT=5672
RABBITMQ_USER=(USERNAME)
RABBITMQ_PWD=(PASSOWRD)
RABBITMQ_VHOST=/celery-test1

REDIS_HOST=(THE IP)
REDIS_PORT=6379
REDIS_PWD=(PASSOWRD)
REDIS_DB=0

CELERY_APP_NAME_PREFIX=mycelery
CELERY_BROKER_URL="amqp://${RABBITMQ_USER}:${RABBITMQ_PWD}@${RABBITMQ_HOST}:${RABBITMQ_PORT}${RABBITMQ_VHOST}"
# CELERY_RESULT_BACKEND="rpc://"
CELERY_RESULT_BACKEND ="redis://:${REDIS_PWD}@${REDIS_HOST}:${REDIS_PORT}/${REDIS_DB}"
