#APP_ENVIRONMENT=production
APP_ENVIRONMENT=development
# Override Debug
DEBUG=No
RABBITMQ_HOST={host_or_ip}
RABBITMQ_PORT=5672
RABBITMQ_USER={user}
RABBITMQ_PWD={pwd}
RABBITMQ_VHOST=/

REDIS_HOST={host_or_ip}
REDIS_PORT=6379
REDIS_PWD={pwd}
REDIS_DB=1

CELERY_APP_NAME_PREFIX=mycelery
CELERY_BROKER_URL="amqp://${RABBITMQ_USER}:${RABBITMQ_PWD}@${RABBITMQ_HOST}:${RABBITMQ_PORT}${RABBITMQ_VHOST}"
# CELERY_RESULT_BACKEND="rpc://"
CELERY_RESULT_BACKEND ="redis://:${REDIS_PWD}@${REDIS_HOST}:${REDIS_PORT}/${REDIS_DB}"
